.vcard {
	display: inline;
	margin: 0;
	border: none;
	padding: 0;
}
.cat-links{
	margin-right: 20px;
}
.edit-link{
	display: block;
}

// article -----------------------------

article{
	border-bottom: 1px solid $smoke;
	@include clearfix;
	.thumbnail{
		width: 75px;
		height: auto;
		@media #{$medium-up} {
			width: auto;
		}
		float: left;
		margin-right: 10px;
		img{
			@include border-radius(50%);
		}
	}
	.post_info{
		overflow: hidden;
	}
}

// site-footer -------------------------

#colophon{
	margin-top: 20px;
	padding: 20px 0;
	background-color: $jet;
	color: $snow;
}