.vcard {
	display: inline;
	margin: 0;
	border: none;
	padding: 0;
}
.cat-links{
	margin-right: 20px;
}
.edit-link{
	display: block;
}

// body backgroundimg-------------------

body.home{
	// background-image: url(img/bg/top-main-bg.jpg);
	background-image: url(http://placehold.it/1500x500/444/444&text=img);

	background-position: top center;
	background-repeat: no-repeat;
}

// site-branding -----------------------
.site-title{
	text-align: center;
	a{
		color: $tuatara;
		display: inline-block;
		padding: 15px 30px;
		margin: 10px 0;
		border: 3px solid $tuatara;
		font-weight: bold;
	}
}

.home{
	.site-branding{
		padding: 210px 0;
		margin-bottom: 20px;
	}
	.site-title{
	a{
		color: $ghost;
		border: 3px solid $snow;
	}
}
}




// article -----------------------------

article{
	border-bottom: 1px solid $smoke;
	@include clearfix;
	.thumbnail{
		width: 75px;
		height: auto;
		@media #{$medium-up} {
			width: auto;
		}
		float: left;
		margin-right: 10px;
		img{
			@include border-radius(50%);
		}
	}
	.post_info{
		overflow: hidden;
	}
}

// site-footer -------------------------

#colophon{
	margin-top: 20px;
	padding: 20px 0;
	background-color: $jet;
	color: $snow;
}